{
  "extends": "stylelint-config-htmlacademy",

  "rules": {
    "declaration-no-important": true,
    "indentation": [2, {"ignore": ["inside-parens"]}],

    "at-rule-empty-line-before": ["always", {
      "except": [
        "first-nested",
        "blockless-after-blockless",
        # "after-same-name"
      ],
      "ignore": ["after-comment"],
      "ignoreAtRules": ["else"]
    }],
    "block-closing-brace-newline-after": ["always", {
      "ignoreAtRules": ["if", "else"]
    }],
    "at-rule-no-unknown": [true, {
      "ignoreAtRules": [
        "mixin",
        "define-mixin",
        "include",
        "content",
        "rules",
        "at-root",
        "if",
        "else"
      ]
    }],
    # "at-rule-no-unknown": [true, {
    #   "ignoreAtRules": ["at-root"]
    # }],
  }
}
