.catalog-item {
  $block: &;
  $padding-top: 21px;

  display: flex;
  flex-wrap: wrap;

  padding: 0 $container-gap-sm 24px;
  margin: 0 -1px;

  border: $catalog-item-border;
  border-top: none;

  &__picture,
  &__info {
    // @include outline(3);
    width: 50%;
  }

  &__picture {
    display: flex;

    height: 144px;
    margin: 0;
  }

  &__image {
    display: block;
    object-fit: contain;
    width: auto;
  }

  &__info {
    padding: $padding-top 0 0;
  }

  &__title {
    display: flex;
    flex-wrap: wrap;

    margin: 0 0 14px;

    font-size: $font-size--large;
    line-height: 1.25;
    font-family: $font-family--custom;
    font-weight: normal;
    text-transform: uppercase;
    color: $gray--darkest;

    br {
      display: none;
    }
  }

  &__name {
    width: 100%;
    padding-right: 5px;
  }

  &__category {
    padding-right: 5px;
  }

  &__text {
    margin: 0 0 10px;

    font-size: $font-size--small;
    line-height: 1.33;

    br {
      display: none;
    }
  }

  &__params {
    border-collapse: collapse;
    width: 100%;
    margin: 0 0 15px;

    font-size: $font-size--small;
    line-height: 1.33;
    text-align: left;
  }

  &__param {
    font-weight: normal;
  }

  &__value {
    text-align: right;
  }

  &__show-all {
    margin: 10px 0 0;
  }

  &--show-all {
    flex-direction: column;
    padding-top: $padding-top;
    text-align: center;

    &::before {
      content: "";
      display: block;

      width: 30px;
      height: 30px;
      margin: 4px auto 24px;

      // background: url(../img/icon-plus-mobile.svg) 0 0 no-repeat;
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpolygon fill='%23231F20' points='30,14 16,14 16,0 14,0 14,14 0,14 0,16 14,16 14,30 16,30 16,16 30,16 '/%3E%3C/svg%3E") 0 0 no-repeat;
      opacity: 0.2;
    }

    #{$block}__title {
      display: block;
      margin-bottom: 11px;
    }
  }

  @media (min-width: $screen-md) {
    $padding-x: 38px;
    flex-direction: column;

    padding: 0 $padding-x 38px;

    background: $bg-light-gray;
    border: 1px solid $bg-light-gray;

    &__picture {
      flex-direction: column-reverse;

      width: auto;
      height: 208px;
      margin: -82px (-$padding-x) 38px;
    }

    &__info {
      width: auto;
      padding-top: 0;
    }

    &__title {
      justify-content: center;

      margin-bottom: 20px;

      font-size: $font-size--xxlarge;
      line-height: 1;
      text-align: center;

      br {
        display: inline;
      }
    }

    &__text {
      font-size: $font-size--large;
      line-height: 1.2;
      margin: 0 0 15px;

      br {
        display: inline;
      }
    }

    &__name {
      width: auto;
    }

    &__category {
      padding: 0;
    }

    &__amount {
      width: 100%;
    }

    &__params {
      margin-bottom: 33px;

      font-size: $font-size--large;
      line-height: 1;
    }

    &__param,
    &__value {
      padding: 7px;
      border-bottom: 1px solid $gray--lightest-4;
    }

    &__param {
      padding-left: 0;
    }

    &__value {
      padding-right: 0;
    }

    &__buy,
    &__show-all {
      margin-top: auto;
    }

    &--show-all {
      padding-top: 53px;

      background-color: transparent;
      border-color: rgba($border-color, 0.5);

      &::before {
        width: 60px;
        height: 60px;
        margin-bottom: 50px;

        // background-image: url(../img/icon-plus.svg);
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 60 60'%3E%3Cpolygon fill='%23231F20' class='st0' points='60,29.5 30.5,29.5 30.5,0 29.5,0 29.5,29.5 0,29.5 0,30.5 29.5,30.5 29.5,60 30.5,60 30.5,30.5 60,30.5 '/%3E%3C/svg%3E%0A");
      }

      #{$block}__title {
        margin-bottom: 25px;
      }
    }
  }

  @media (min-width: $screen-xl) {

  }
}
