.catalog {
  $block: &;

  // @include outline; /* TODO: Сетка */
  @include container;

  // overflow: hidden; /* TODO: Сетка */
  margin-bottom: 28px;

  &__list {
    display: flex;
    flex-direction: column;

    margin: 0 (-$container-gap-sm);

    outline: $catalog-item-border;
  }

  &__item {
    // @include outline(2); /* TODO: Сетка */
  }

  @media (min-width: $screen-md) {
    $item-margin-bottom: 141px;
    $item-margin-horiz: $grid-gutter;
    margin-bottom: 69px;

    &__list {
      flex-direction: row;
      flex-wrap: wrap;

      margin: 0 (-$item-margin-horiz) (-$item-margin-bottom);
      padding-top: 80px;

      outline: none;
    }

    &__item {
      width: 324px;
      margin: 0 $item-margin-horiz $item-margin-bottom;
    }
  }

  @media (min-width: $screen-xl) {
    $item-margin-horiz: $grid-gutter-2;
    margin-bottom: 79px;

    &__list {
      margin-left: -$item-margin-horiz;
      margin-right: -$item-margin-horiz;
    }

    &__item {
      // min-height: 431px; /* TODO: Сетка */

      width: 245px;
      margin-left: $item-margin-horiz;
      margin-right: $item-margin-horiz;
    }
  }
}
