.catalog-item {
  $block: &;
  $padding-top: 23px;

  display: flex;
  flex-wrap: wrap;

  padding: 0 $container-gap-sm 24px;
  margin: 0 -1px;

  border: $catalog-item-border;

  &__picture,
  &__info {
    // @include outline(3);
    width: 50%;
  }

  &__picture {
    display: flex;

    height: 144px;
    margin: 0;
  }

  &__image {
    object-fit: contain;
    width: auto;
  }

  &__info {
    padding: $padding-top 0 0;
  }

  &__title {
    display: flex;
    flex-wrap: wrap;

    margin: 0 0 14px;

    font-size: $font-size--large;
    line-height: 1.25;
    font-family: $font-family--custom;
    font-weight: normal;
    text-transform: uppercase;
    color: $gray--darkest;
  }

  &__name {
    width: 100%;
  }

  &__category {
    margin-right: 5px;
  }

  &__params {
    border-collapse: collapse;
    width: 100%;
    margin: 0 0 15px;

    font-size: $font-size--small;
    line-height: 1.33;
    text-align: left;
  }

  &__param {
    font-weight: normal;
  }

  &__value {
    text-align: right;
  }

  &__text {
    margin: 10px 0;

    font-size: $font-size--small;
    line-height: 1.33;
  }

  &__buy,
  &__show-all {
    font-size: $font-size--large;
    line-height: 1.25;
  }

  &__show-all {
    margin: 20px 0 0;
  }

  &--show-all {
    display: block;
    padding-top: $padding-top;
    text-align: center;

    &::before {
      content: "";
      display: block;

      width: 30px;
      height: 30px;
      margin: 2px auto 24px;

      background: url(../img/icon-plus-mobile.svg) 0 0 no-repeat;
      opacity: 0.2;
    }

    #{$block}__title {
      display: block;
      margin-bottom: 11px;
    }
  }

  @media (min-width: $screen-md) {

  }

  @media (min-width: $screen-xl) {

  }
}
