.catalog {
  $block: &;

  // @include outline; /* TODO: Сетка */
  @include container;

  // overflow: hidden; /* TODO: Сетка */
  margin-bottom: 28px;

  &__list {
    @include row--sm;

    display: flex;
    flex-direction: column;

    border-top: $catalog-item-border;
  }

  &__item {
    // @include outline(2); /* TODO: Сетка */
  }

  @media (min-width: $screen-md) {
    $item-margin-bottom: 141px;
    margin-bottom: 69px;

    &__list {
      flex-direction: row;
      flex-wrap: wrap;

      margin: 0 (-$grid-gutter) (-$item-margin-bottom);
      padding-top: 80px;

      border: none;
    }

    &__item {
      width: 324px;
      margin: 0 $grid-gutter $item-margin-bottom;
    }
  }

  @media (min-width: $screen-xl) {
    margin-bottom: 79px;

    &__list {
      margin-left: -$grid-gutter-2;
      margin-right: -$grid-gutter-2;
    }

    &__item {
      min-height: 431px; /* TODO: Сетка */

      width: 245px;
      margin-left: $grid-gutter-2;
      margin-right: $grid-gutter-2;
    }
  }
}
