.categories {
  $block: &;
  $item-margin-bottom: 20px;

  // @include outline(1); /* TODO: Сетка */
  @include container;

  margin-bottom: 18px;

  &__list {
    @include reset-list;

    display: flex;
    flex-direction: column;

    margin: 0 0 (-$item-margin-bottom);
  }

  &__item {
    // @include outline(2); /* TODO: Сетка */

    padding: 23px 20px 21px;
    margin: 0 0 $item-margin-bottom;

    background: $bg-light-gray;

    &--slim {
      #{$block}__icon {
        &::after {
          width: 35px;
          height: 49px;
          background-image: svg-load("../img/svg-bg/icon-cat-slim.svg");
        }
      }
    }

    &--pro {
      #{$block}__icon {
        &::after {
          width: 67px;
          height: 28px;
          background-image: svg-load("../img/svg-bg/icon-cat-pro.svg");
        }
      }
    }
  }

  &__title {
    display: flex;
    align-items: center;

    margin: 0 0 22px;
  }

  &__icon {
    flex-shrink: 0;
    order: 1;

    position: relative;

    width: 50px;
    height: 50px;
    margin-right: 20px;

    background-color: $color-main;
    border-radius: 50%;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      background-repeat: no-repeat;
    }
  }

  &__heading {
    @include heading(2);
    order: 2;

    line-height: 1.54;
    text-transform: uppercase;
  }

  &__desc {
    margin: 0 0 21px;
  }

  &__actions {
    display: flex;

    margin: 0;
    padding: 18px 0 0;

    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

  &__to-catalog {
    display: flex;
    align-items: center;

    font-size: $font-size--large;
    font-family: $font-family--custom;
    text-transform: uppercase;
    text-decoration: none;

    &::after {
      content: "";

      width: 24px;
      height: 11px;
      margin-left: 12px;

      background: svg-load("../img/svg-bg/icon-right-arrow-long.svg") 0 0 no-repeat;
    }

    &,
    &:hover {
      color: $gray--darkest;
    }

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  @media (min-width: $screen-md) {
    $item-margin-bottom: 29px;
    margin-bottom: 45px;

    &__list {
      margin-bottom: -$item-margin-bottom;
    }

    &__item {
      position: relative;

      padding: 78px 0 55px;
      padding-left: 52px;
      padding-right: 280px;
      margin-bottom: $item-margin-bottom;

      &--slim {
        #{$block}__icon {
          &::after {
            width: 140px;
            height: 194px;
          }
        }
      }

      &--pro {
        padding-right: 315px;

        #{$block}__icon {
          &::after {
            width: 268px;
            height: 112px;
          }
        }
      }
    }

    &__title {
      display: block;
      margin-bottom: 20px;
    }

    &__icon {
      position: absolute;
      top: 50%;
      right: 62px;
      transform: translateY(-50%);

      width: 200px;
      height: 200px;
      margin: 0;
    }

    &__desc {
      margin-bottom: 53px;

      font-size: $font-size--large;
    }

    &__actions {
      padding-top: 0;
      border: none;
    }

    &__to-catalog {
      font-size: $font-size--xxlarge;

      &::after {
        margin-left: 25px;
      }
    }
  }

  @media (min-width: $screen-xl) {
    margin-bottom: 72px;

    &__list {
      flex-direction: row;
      justify-content: space-between;

      margin-bottom: 0;
    }

    &__item {
      display: flex;
      flex-direction: column;

      width: 570px;
      padding-top: 45px;
      padding-right: 52px;
      margin: 0;

      &--slim {
        #{$block}__icon {
          &::after {
            width: 70px;
            height: 97px;
          }
        }
      }

      &--pro {
        #{$block}__icon {
          &::after {
            width: 134px;
            height: 56px;
          }
        }
      }
    }

    &__title {
      display: flex;
      margin-bottom: 41px;
    }

    &__icon {
      position: relative;
      top: 0;
      left: 0;
      transform: none;

      width: 100px;
      height: 100px;
      margin-right: 64px;
    }

    &__desc {
      margin-bottom: 27px;
    }

    &__actions {
      margin-top: auto;
    }
  }
}
