.contacts {
  $block: &;
  // @include outline; /* TODO: Сетка */

  color: $text-color;
  background: $white;

  &--gray {
    background: $bg-light-gray;
  }

  &__info {
    // @include outline(2); /* TODO: Сетка */
    @include container;

    display: flex;
    justify-content: space-between;

    padding-top: 29px;
    padding-bottom: 24px;
  }

  &__title {
    display: block;

    width: 50%;
    padding-right: 15px;

    font-size: 16px;
    line-height: 1.25;
    font-family: $font-family--headings;
    font-weight: normal;
    text-transform: uppercase;
    color: $text-color--headings;
  }

  &__address {
    width: 50%;
    margin: 0;

    line-height: 1.43;

    br {
      display: none;
    }
  }

  &__map {
    // @include outline(2); /* TODO: Сетка */
    background: $white;
  }

  &__map-image {
    display: block;
    margin: 0 auto;
  }

  @media (min-width: $screen-md) {
    &__info {
      padding: 65px ($container-gap-md + $grid-gutter-2) 55px;
    }

    &__title {
      width: 155px;
      padding-right: 0;

      font-size: $font-size--xxlarge;
      line-height: 1.25;
    }

    &__address {
      width: 155px;

      font-size: $font-size--large;
      line-height: 1.25;
      text-align: right;

      br {
        display: block;
      }
    }

    &__map-image {
      width: 768px;
      height: auto;
    }
  }

  @media (min-width: $screen-xl) {
    $width: 570px;
    position: relative;

    &__info {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%);

      width: $width;
      margin-left: (-$width - $grid-gutter-2);
      padding: 66px 75px 60px;

      color: $text-color;
      background: $body-bg;
    }

    &__title {
      width: 170px;
    }

    &__address {
      width: 170px;
      text-align: left;
    }

    &__map-image {
      width: 1440px;
    }
  }
}
