.leading {
  $block: &;
  position: relative;
  margin: 0 0 22px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;

    height: 305px;

    background: linear-gradient(to right, $color-main--dark-3 50%, $color-main--dark-2 50%);
  }

  &__wrapper {
    @include container;
    // @include outline; /* TODO: Сетка */

    position: relative;

    padding-top: 25px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: -1;

      height: 305px;

      background: url(../img/index-background-mobile@1x.jpg) 50% 0 no-repeat;
      background-size: cover;

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url(../img/index-background-mobile@2x.jpg);
      }
    }
  }

  &__content {
    // @include outline(2); /* TODO: Сетка */

    text-align: center;
    color: $white;

    // background: $color-main--dark-2;
  }

  &__title {
    margin: 0 0 28px;

    font-size: $font-size--page-h1;
    line-height: 1;
    font-family: $font-family--headings;
    font-weight: normal;
  }

  &__slogan {
    margin: 0 0 25px;

    line-height: 1;
    font-family: $font-family--custom;
    text-transform: uppercase;
  }

  &__picture {
    // @include outline(2); /* TODO: Сетка */

    margin: 0 0 5px;
  }

  &__image {
    display: block;
  }

  &__link {
    font-size: $font-size;
    line-height: 1.43;

    &--top {
      display: none;
    }

    &--bottom {
      display: block;
    }
  }

  @media (min-width: $screen-md) {
    margin-bottom: 0;

    &::before {
      display: none;
    }

    &__wrapper {
      padding-top: 42px;

      &::before {
        display: none;
      }
    }

    &__content {
      position: relative;
      z-index: 1;

      width: 606px;
      padding: 0 90px;

      text-align: left;
      color: $gray--darkest;

      // background-color: $white;
    }

    &__title {
      margin-bottom: 44px;
      font-size: $font-size--page-h1-md;
    }

    &__slogan {
      margin-bottom: 46px;
      font-size: $font-size--xxlarge;
    }

    &__picture {
      margin-bottom: 0;
    }

    &__image {
      width: auto;
      height: auto;
      margin-top: -82px;
    }

    &__link {
      padding: 16px 27px;

      font-size: $font-size--xxlarge;
      line-height: 1;

      &--top {
        display: inline-block;
      }

      &--bottom {
        display: none;
      }
    }
  }

  @media (min-width: $screen-xl) {
    margin-bottom: 80px;

    &::before {
      display: block;

      top: -128px;
      bottom: 0;
      left: 50%;

      height: auto;
    }

    &__wrapper {
      display: flex;
      justify-content: space-between;

      padding-top: 94px;
      padding-bottom: 59px;

      &::before {
        display: block;

        top: -128px;
        bottom: 0;
        left: 50%;

        height: auto;

        background-image: url(../img/index-background-desktop@1x.jpg);
        background-position: 100% 100%;
        background-size: cover;

        @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
          background-image: url(../img/index-background-desktop@2x.jpg);
        }
      }
    }

    &__content {
      width: 610px;
      padding: 0 80px;
    }

    &__slogan {
      margin-bottom: 50px;
    }

    &__picture {
      width: 610px;
      margin: 0;
    }

    &__image {
      width: 552px;
      height: 499px;
      margin: 0;
      margin-top: -84px;
      margin-left: -159px;
    }
  }
}
