.leading {
  $block: &;
  position: relative;
  margin: 0 0 22px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    height: 305px;
  }

  &::before {
    z-index: -2;
    background: linear-gradient(to right, $color-main--dark-3 50%, $color-main--dark-2 50%);
  }

  &::after {
    z-index: -1;

    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 320px auto;
  }

  @at-root .webp {
    #{$block}::after {
      background-image: url("../img/index-background-mobile@1x.webp");

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url("../img/index-background-mobile@2x.webp");
      }
    }
  }

  @at-root .no-webp, .no-js {
    #{$block}::after {
      background-image: url("../img/index-background-mobile@1x.jpg");

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url("../img/index-background-mobile@2x.jpg");
      }
    }
  }

  &__wrapper {
    // @include outline; /* TODO: Сетка */
    @include container;
    position: relative;
    padding-top: 27px;
  }


  &__content {
    // @include outline(2); /* TODO: Сетка */

    text-align: center;
    color: $white;

    // background: $color-main--dark-2;
  }

  &__title {
    @include heading(1);
    margin: 0 0 24px;

    line-height: 1;
    color: inherit;
  }

  &__slogan {
    margin: 0 0 25px;

    font-family: $font-family--custom;
    text-transform: uppercase;
  }

  &__picture {
    // @include outline(2); /* TODO: Сетка */

    margin: 0 0 5px;
  }

  &__image {
    display: block;
  }

  &__link {
    font-size: $font-size;
    line-height: 1.43;

    &--top {
      display: none;
    }

    &--bottom {
      display: block;
    }
  }

  @media (min-width: $screen-md) {
    margin-bottom: 0;

    &::before,
    &::after {
      display: none;
    }

    &__wrapper {
      padding-top: 42px;
    }

    &__content {
      position: relative;
      z-index: 1;

      width: 606px;
      padding: 0 90px;

      text-align: left;
      color: $gray--darkest;

      // background-color: $white;
    }

    &__title {
      margin-bottom: 37px;
    }

    &__slogan {
      margin-bottom: 43px;
      font-size: $font-size--xxlarge;
    }

    &__picture {
      margin-bottom: 0;
    }

    &__image {
      width: auto;
      height: auto;
      margin-top: -82px;
    }

    &__link {
      padding: 16px 27px;

      font-size: $font-size--xxlarge;
      line-height: 1;

      &--top {
        display: inline-block;
      }

      &--bottom {
        display: none;
      }
    }
  }

  @media (min-width: $screen-xl) {
    margin-bottom: 80px;

    &::before,
    &::after {
      display: block;

      top: -300px;
      bottom: 0;
      left: 50%;

      height: auto;
    }

    &::after {
      background-position: 100% 100%;
      background-size: 720px auto;
    }

    @at-root .webp {
      #{$block}::after {
        background-image: url("../img/index-background-desktop@1x.webp");

        @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
          background-image: url("../img/index-background-desktop@2x.webp");
        }
      }
    }

    @at-root .no-webp, .no-js {
      #{$block}::after {
        background-image: url("../img/index-background-desktop@1x.jpg");

        @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
          background-image: url("../img/index-background-desktop@2x.jpg");
        }
      }
    }

    &__wrapper {
      display: flex;
      justify-content: space-between;

      padding-top: 94px;
      padding-bottom: 59px;
    }

    &__content {
      width: 50%;
      padding: 0 80px;
    }

    &__slogan {
      margin-bottom: 45px;
    }

    &__picture {
      width: 50%;
      margin: 0;
    }

    &__image {
      width: 552px;
      height: 499px;
      margin: 0;
      margin-top: -84px;
      margin-left: -159px;
    }
  }
}
