.live-example {
  $block: &;
  $results-item-padding: 5px;
  $controls-height-md: 116px;
  $controls-height-xl: 130px;
  $pictures-gap-md: 170px;
  $pictures-gap-xl: 190px;
  $overlap-bg: $gray--lightest-2;
  // @include outline; /* TODO: Сетка */

  padding-top: 20px;
  background: $bg-light-gray;

  &__title {
    @include container;
    @include heading(1);

    margin-bottom: 22px;

    span {
      // display: block;
    }
  }

  &__wrapper {
    // @include outline(2); /* TODO: Сетка */
    @include container--sm;
  }

  &__inner {
    // @include outline(); /* TODO: Сетка */
  }

  // Информация
  &__info {
    // @include outline(3);
    margin-bottom: 33px;
  }


  &__desc {
    margin: 0 0 25px;
  }

  &__results {
    display: block;

    tbody {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      margin: 0 (-$results-item-padding);
    }
  }

  &__result {
    display: flex;
    flex-direction: column;

    position: relative;

    padding: 0 $results-item-padding;
    margin: 0 0 30px;
  }

  &__field {
    order: 1;

    width: 87px;
    margin: 0 auto;
    margin-top: -10px;
    padding: 0 5px;

    font-size: $font-size--small;
    line-height: 1;
    font-weight: normal;
    text-align: center;
    text-transform: lowercase;

    border-radius: 10px;
    background: $bg-light-gray;
  }

  &__value {
    display: block;

    min-width: 124px;
    padding: 16px;

    font-size: $font-size--ultra-large;
    line-height: 1;
    font-family: $font-family--custom;
    text-align: center;
    text-transform: uppercase;
    color: $gray--darkest;

    border: solid 1px $border-color;
    border-radius: 3px;
  }

  &__cost {
    display: block;

    width: 100%;
    padding: 0 $results-item-padding;

    font-size: $font-size;
    line-height: 1.43;
    font-family: $font-family--custom;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    color: $gray--darkest;
  }

  &__cost-field {
    display: inline-block;
    font-weight: normal;

    &::after {
      content: ": ";
    }
  }

  &__cost-value {
    display: inline-block;
  }

  // Слайдер с нахлестом
  &__pictures {
    // @include outline(3); /* TODO: Сетка */
    @include row--sm;
    padding: 0 0 36px;
  }

  &__pictures-wrapper {
    margin-bottom: 33px;
  }

  &__picture {
    // @include outline(3); /* TODO: Сетка */
  }

  &__image {
    display: block;
    flex-shrink: 0;
  }

  @media (min-width: $screen-md) {
    $result-margin-bottom: 10px;
    padding-top: 43px;
    background-color: transparent;

    &__wrapper {
      @include container-reset;
      display: flex;
      flex-direction: column;
    }

    &__inner {
      display: flex;
      flex-direction: column;
    }

    // Информация
    &__info {
      @include container--md;
      margin-bottom: 85px + $pictures-gap-md;
    }

    &__title {
      margin-bottom: 65px;
    }

    &__desc {
      margin-bottom: 52px;

      font-size: $font-size--large;
      line-height: 1.5;
    }

    &__results tbody {
      flex-wrap: nowrap;
      margin-bottom: -$result-margin-bottom;
    }

    &__result {
      margin-right: 42px;
      margin-bottom: $result-margin-bottom;
    }

    &__field {
      width: auto;
      max-width: 150px;
      padding: 0 8px;

      font-size: 14px;

      background-color: $white;
    }

    &__value {
      min-width: 162px;
      padding-bottom: 18px;

      font-size: 30px;
      line-height: 1.23;
    }

    &__cost {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      width: auto;
      max-width: 192px + $results-item-padding;
      margin-left: auto;
      margin-top: 10px;
      margin-bottom: $result-margin-bottom;

      text-align: right;
    }

    &__cost-field,
    &__cost-value {
      font-size: $font-size--xxlarge;
      line-height: 1;
    }

    &__cost-field {
      margin-bottom: 10px;
    }

    // Слайдер с нахлестом
    &__pictures {
      position: relative;

      padding-bottom: 0;
      margin: 0;

      background: $bg-light-gray;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;

        width: calc((100% - #{$container-md}) / 2 + #{$container-gap-md});

        background: $overlap-bg;
      }
    }

    &__pictures-wrapper {
      @include container--md;

      position: relative;

      margin-top: -$pictures-gap-md;
      margin-bottom: 0;
    }

    &__picture {
      padding-bottom: $controls-height-md;

      &--overlap {
        background: none;

        &::before,
        &::after {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          z-index: 0;
        }

        &::before {
          top: 0;
          height: $pictures-gap-md;

          background: $white;
        }

        &::after {
          top: $pictures-gap-md;
          bottom: 0;

          background: $overlap-bg;
        }
      }
    }

    &__image {
      position: relative;
      z-index: 1;

      width: auto;
      height: auto;
    }

    &__controls {
      @include container--md;

      position: relative;

      margin-top: -$controls-height-md;
      padding-top: 21px;
      padding-bottom: 75px;
    }
  }

  @media (min-width: $screen-xl) {
    padding-top: 58px;

    &__title {
      margin-bottom: 75px;
      padding-right: 650px + $container-gap-xl;
    }

    &__wrapper {
      position: relative;
      background: $bg-light-gray;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;

        width: calc((100% - #{$container-xl}) / 2});

        background: $overlap-bg;
      }
    }

    &__inner {
      @include container--xl;
      flex-direction: row;
      padding-right: 0;
    }

    // Информация
    &__info {
      @include container-reset;

      flex-shrink: 0;

      width: 570px;
      margin: 0;
      padding: 70px 0 50px;
      padding-right: 135px;
    }


    &__desc {
      margin-bottom: 67px;
    }

    &__results {
      width: 366px;

      tbody {
        flex-wrap: wrap;
      }
    }

    &__result {
      margin-right: 0;
    }

    &__field {
      background-color: $bg-light-gray;
    }

    &__cost {
      flex-direction: row;
      align-items: center;

      width: 100%;
      max-width: none;
      margin: 62px 0 0;
    }

    &__cost-field {
      width: 190px;
      margin-bottom: 0;
      margin-right: 10px;

      text-align: left;
    }

    &__cost-value {
      margin: 0 auto;
      text-align: center;
    }

    // Слайдер с нахлестом
    &__pictures {
      display: flex;
      flex-direction: column;

      width: 690px;

      background: none;

      &::after {
        display: none;
      }
    }

    &__pictures-wrapper {
      @include container-reset;
      display: flex;
      flex-grow: 1;
      margin-top: -$pictures-gap-xl;
    }

    &__picture {
      padding-bottom: $controls-height-xl;

      &--overlap {
        &::before {
          height: $pictures-gap-xl;
        }

        &::after {
          top: $pictures-gap-xl;
          bottom: 0;
          background: $overlap-bg;
        }
      }
    }

    &__controls {
      @include container-reset;

      margin-top: -$controls-height-xl;
      padding: 40px 0 70px;
    }
  }
}
