.main-nav {
  $block: &;
  $link-padding-horiz: $container-gap-sm;
  // @include outline(2); /* TODO: Сетка */
  @include row--sm;

  color: $gray--darkest;
  // background: $white;

  &__list {
    @include reset-list;
  }

  &__item {
    position: relative;
    display: block;
    text-align: center;
    border-top: 1px solid $gray--lightest-4;

    &--active {
      #{$block}__link::after {
        content: "";
        position: absolute;
        bottom: 13px;
        left: $link-padding-horiz;
        right: $link-padding-horiz;

        height: 2px;
        background: $color-main;
      }
    }
  }

  &__link {
    position: relative;

    display: inline-block;

    padding: 20px $link-padding-horiz 21px;

    font-family: $font-family--custom;
    font-size: 20px;
    line-height: 1.2;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;

    &,
    &:hover {
      color: inherit;
    }

    &[href]:hover {
      opacity: 0.6;
    }

    &[href]:active {
      opacity: 0.3;
    }
  }

  @media (max-width: $screen-md - 1) {
    &__toggle {
      position: absolute;
      top: 23px;

      padding: 0;

      border: none;

      &:hover {
        opacity: 0.8;
      }

      &:active {
        opacity: 0.6;
      }
    }

    &--closed {
      #{$block}__list {
        display: none;
      }

      #{$block}__toggle {
        right: 20px;

        width: 24px;
        height: 18px;

        background: svg-load("../img/svg-bg/icon-mobile-menu.svg") 0 0 no-repeat;
      }
    }

    &--opened {
      #{$block}__toggle {
        right: 23px;

        width: 18px;
        height: 18px;

        background: svg-load("../img/svg-bg/icon-close.svg") 0 0 no-repeat;
      }
    }

    @at-root .no-js {
      #{$block}__toggle {
        display: none;
      }

      #{$block}__list {
        display: block;
      }
    }
  }

  @media (min-width: $screen-md) {
    $link-padding: 5px;

    flex-grow: 1;

    width: 516px;
    margin: 0;

    &__list {
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;

      padding: 13px 0 0;
      margin-right: -$link-padding;
    }

    &__item {
      position: relative;

      margin-left: 25px;
      margin-bottom: 10px;


      text-align: left;

      border: none;

      &--active {
        #{$block}__link::after {
          bottom: -4px;
          left: $link-padding;
          right: $link-padding;
        }
      }
    }

    &__link {
      padding: $link-padding;

      font-size: $font-size--xlarge;
      line-height: 1.389;
      font-weight: normal;
    }

    &__toggle {
      display: none;
    }
  }

  @media (min-width: $screen-xl) {
    flex-grow: 0;
    width: 50%;

    &__list {
      padding-top: 15px;
    }

    &__link {
      font-size: $font-size--xxlarge;
      line-height: 1.25;
    }

    &--inverse {
      color: $white;
      // background: $color-main--dark-2;

      #{$block}__item--active {
        #{$block}__link::after {
          background: $white;
        }
      }
    }
  }
}
