.main-nav {
  $block: &;
  // @include outline(2); /* TODO: Сетка */

  color: $gray--darkest;
  // background: $white;

  &__list {
    @include reset-list;
  }

  &__link {
    display: block;

    padding: 22px $container-gap-sm 23px;

    font-family: $font-family--custom;
    font-size: 20px;
    line-height: 1;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    border-top: 1px solid $gray--lightest-4;

    &,
    &:hover {
      color: inherit;
    }

    &[href]:hover {
      opacity: 0.6;
    }

    &[href]:active {
      opacity: 0.3;
    }
  }

  @media (max-width: $screen-md - 1) {
    &__toggle {
      position: absolute;
      padding: 0;
      border: none;

      &:hover {
        opacity: 0.8;
      }

      &:active {
        opacity: 0.6;
      }
    }

    &--closed {
      #{$block}__list {
        display: none;
      }

      #{$block}__toggle {
        top: 20px;
        right: 20px;

        width: 24px;
        height: 18px;

        // background: url(../img/icon-mobile-menu.svg) 0 0 no-repeat;
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 18'%3E%3Crect y='16' width='24' height='2'/%3E%3Crect y='8' width='24' height='2'/%3E%3Crect width='24' height='2'/%3E%3C/svg%3E") 0 0 no-repeat;
      }
    }

    &--opened {
      #{$block}__toggle {
        top: 23px;
        right: 23px;

        width: 18px;
        height: 18px;

        // background: url(../img/icon-close.svg) 0 0 no-repeat;
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 18'%3E%3Cpolygon points='18,1.3 16.7,0 9,7.7 1.3,0 0,1.3 7.7,9 0,16.7 1.3,18 9,10.3 16.7,18 18,16.7 10.3,9 '/%3E%3C/svg%3E") 0 0 no-repeat;
      }
    }

    @at-root .no-js {
      #{$block}__toggle {
        display: none;
      }

      #{$block}__list {
        display: block;
      }
    }
  }

  @media (min-width: $screen-md) {
    flex-grow: 1;

    width: 516px;
    padding-left: 10px;

    &__list {
      display: flex;
      justify-content: flex-end;
    }

    &__item {
      position: relative;

      margin-left: 36px;
      padding: 18px 0 9px;

      &--active::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;

        height: 2px;
        background: $color-main;
      }
    }

    &__link {
      padding: 0;

      font-size: $font-size--xlarge;
      line-height: 1.39;
      font-weight: normal;
      text-align: left;

      border: none;
    }

    &__toggle {
      display: none;
    }
  }

  @media (min-width: $screen-xl) {
    flex-grow: 0;

    width: 50%;
    padding-left: 15px;


    &__item {
      padding-top: 20px;
    }

    &__link {
      font-size: $font-size--xxlarge;
      line-height: 1.25;
    }

    &--inverse {
      color: $white;
      // background: $color-main--dark-2;

      #{$block}__item--active::after {
        background: $white;
      }
    }
  }
}
