.overlap-slider {
  $block: &;

  &__wrapper {
    position: relative;
  }

  &__item {
    margin: 0;

    img {
      max-width: none;
    }

    &--overlap {
      display: flex;
      flex-direction: row-reverse;
      overflow: hidden;

      position: absolute;
      top: 0; bottom: 0;
      left: 0%; right: 0;

      background: $bg-light-gray;
    }
  }

  &__controls {
    display: flex;
  }

  &__scale {
    position: relative;

    width: 84px;
    height: 14px;
    padding: 3px 5px;

    background: $white;
    border: solid 1px $border-color;
    border-radius: 6px;
  }

  &__bar {
    display: block;

    width: 0%;
    height: 6px;

    background: $color-main;
    border-radius: 3px;
  }
}
