.page {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;
  min-height: 100vh;

  font-size: $font-size;
  line-height: $line-height;
  font-family: $font-family;
  color: $text-color;

  background: $body-bg;

  @media (min-width: $screen-md) {
    font-size: $font-size--md;
    line-height: $line-height--md;
  }

  /* TODO: Сетка */
  // min-height: 1000px;
  // background-position: 50% 0;
  // background-repeat: no-repeat;

  // &--index {
  //   background-image: url("../img/preview/Index-Mobile.jpg");
  //
  //   @media (min-width: $screen-md) {
  //     background-image: url("../img/preview/Index-Tablet.jpg");
  //   }
  //
  //   @media (min-width: $screen-xl) {
  //     background-image: url("../img/preview/Index-Desktop.jpg");
  //   }
  // }

  // &--catalog {
  //   background-image: url("../img/preview/Catalog-Mobile.jpg");
  //
  //   @media (min-width: $screen-md) {
  //     background-image: url("../img/preview/Catalog-Tablet.jpg");
  //   }
  //
  //   @media (min-width: $screen-xl) {
  //     background-image: url("../img/preview/Catalog-Desktop.jpg");
  //   }
  // }

  // &--program {
  //   background-image: url("../img/preview/Form-Mobile.jpg");
  //
  //   @media (min-width: $screen-md) {
  //     background-image: url("../img/preview/Form-Tablet.jpg");
  //   }
  //
  //   @media (min-width: $screen-xl) {
  //     background-image: url("../img/preview/Form-Desktop.jpg");
  //   }
  // }
  /* EO TODO: Сетка */
}
