.page-header {
  $block: &;

  @include container;
  // @include outline; /* TODO: Сетка */
  position: relative;
  outline: 1px solid $gray--lightest-4;

  &__logo {
    // @include outline(2); /* TODO: Сетка */
    @include row--sm;

    display: flex;

    padding: 12px $container-gap-sm 15px;
    padding-right: 65px;
  }

  &__logo-link {
    &[href]:hover {
      opacity: 0.8;
    }

    &[href]:active {
      opacity: 0.6;
    }
  }

  &__logo-image {
    display: block;
  }

  @media (min-width: $screen-md) {
    display: flex;
    justify-content: space-between;

    padding-top: 25px;
    padding-bottom: 14px;

    outline: none;

    &__logo {
      max-width: 192px;
      margin: 0;
      padding: 0;
    }

    &__logo-image {
      width: 173px;
      height: auto;
    }
  }

  @media (min-width: $screen-xl) {
    padding-top: 53px;

    &__logo {
      max-width: 245px;
    }

    &__logo-image {
      width: 202px;
    }
  }
}
