.page-header {
  $block: &;

  @include container;
  // @include outline; /* TODO: Сетка */


  &__wrapper {
    margin: 0 (-$container-gap-sm - 1) 0;

    position: relative;
    border: 1px solid $gray--lightest-4;
    border-top: none;
    border-bottom: none;
  }

  &__logo {
    // @include outline(2); /* TODO: Сетка */
    display: flex;

    padding: 12px $container-gap-sm 15px;
    padding-right: 65px;
  }

  &__logo-link {
    &[href]:hover {
      opacity: 0.8;
    }

    &[href]:active {
      opacity: 0.6;
    }
  }

  &__logo-image {
    display: block;
  }

  @media (min-width: $screen-md) {
    &__wrapper {
      display: flex;
      justify-content: space-between;

      margin: 0;
      padding-top: 24px;
      padding-bottom: 15px;

      border: none;
    }

    &__logo {
      max-width: 192px;
      padding: 0;
      padding-right: 10px;
    }

    &__logo-image {
      width: 173px;
      height: auto;
    }
  }

  @media (min-width: $screen-xl) {
    width: auto;
    margin: 0;
    padding: 0;

    &__wrapper {
      @include container--xl;
      padding-top: 54px;
      padding-bottom: 15px;
    }

    &__logo {
      max-width: 245px;
    }

    &__logo-image {
      width: 202px;
    }
  }
}
