.page-main {
  $block: &;

  &__title {
    @include container;
    // @include outline(1); /* TODO: Сетка */

    font-size: $font-size--page-h1;
    line-height: 1.67;
    font-family: $font-family--headings;
    font-weight: normal;
    color: $text-color--headings;

    margin-top: 15px;
    margin-bottom: 27px;
  }

  &__intro {
    @include container;
    // @include outline(1); /* TODO: Сетка */

    font-family: $font-family--custom;
    text-transform: uppercase;
    color: $gray--darkest;

    margin-bottom: 37px;
  }

  @media (min-width: $screen-md) {
    &__title {
      margin-top: 44px;
      margin-bottom: 55px;

      font-size: $font-size--page-h1-md;
      line-height: 1;

      &--page-catalog {
        margin-bottom: 84px;
      }
    }

    &__intro {
      margin-bottom: 66px;

      font-size: $font-size--xxlarge;
      line-height: 1.5;

      &--page-program {
        padding-left: $container-gap-md + $grid-gutter-2;
      }
    }
  }

  @media (min-width: $screen-xl) {
    &__title {
      margin-top: 59px;
    }

    &__intro {
      &--page-program {
        padding-left: $container-gap-xl;
      }
    }
  }
}
