.social {
  $block: &;

  &__list {
    @include reset-list;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: -10px;
  }

  &__item {
    margin: 0 19px;
  }

  &__link {
    display: block;

    &:hover {
      #{$block}__icon {
        fill: $color-main;
      }
    }

    &:active {
      #{$block}__icon {
        fill: $color-main;
        opacity: 0.3;
      }
    }
  }

  &__icon {
    display: block;
  }

  @media (min-width: $screen-md) {
    &__list {
      margin-left: -19px;
    }

    &__item {
      margin: 0 14px;
    }

    &__icon--vk {
      width: 30px;
      height: auto;
    }

    &__icon--insta {
      width: 23px;
      height: auto;
    }

    &__icon--fb {
      width: 14px;
      height: auto;
    }
  }
}
