.social {
  $block: &;
  $item-margin: 15px;
  position: relative;

  &__list {
    @include reset-list;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    margin: 0 (-$item-margin) (-$item-margin);
  }

  &__item {
    flex-shrink: 0;
    margin: 0 $item-margin $item-margin;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 25px;
    min-height: 25px;

    &:hover {
      #{$block}__icon {
        fill: $color-main;
      }
    }

    &:active {
      #{$block}__icon {
        fill: $color-main;
        opacity: 0.3;
      }
    }
  }

  &__icon {
    display: block;
  }

  @media (min-width: $screen-md) {
    $item-margin: 12px;

    &__list {
      margin: 0 (-$item-margin) (-$item-margin);
    }

    &__item {
      margin: 0 $item-margin $item-margin;
    }

    &__link {
      min-width: 30px;
      min-height: 30px;

      // background-color: red;
    }

    &__icon--vk {
      width: 30px;
      height: auto;
    }

    &__icon--insta {
      width: 23px;
      height: auto;
    }

    &__icon--fb {
      width: 14px;
      height: auto;
      margin-left: -10px;
    }
  }
}
