.supplements {
  $block: &;

  @include container;
  // @include outline; /* TODO: Сетка */

  margin-bottom: 32px;

  &__title {
    // @include outline(2); /* TODO: Сетка */
    @include heading(2);
    @include heading-with-stripes;

    margin-bottom: 34px;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__list {
    // @include outline(2); /* TODO: Сетка */
    @include reset-list;
    margin: 0 0 40px;
    border-top: 1px solid $border-color;
  }

  &__item {
    border: 0 solid $border-color;
    border-bottom-width: 1px;
  }

  &__offer {
    // @include outline(2); /* TODO: Сетка */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    min-height: 290px;
    margin: 0;
    padding: 65px 58px 45px;

    font-size: $font-size--large;
    line-height: 1.25;
    text-align: center;
    color: $white;

    background-color: $color-main;
    background-position: 50% 100%;
    background-size: cover;

    &::before {
      content: "";
      display: block;

      width: 55px;
      height: 60px;
      margin: 0 auto 30px;

      background: svg-load("../img/svg-bg/icon-gift.svg", fill= $white) 0 0 no-repeat;
    }
  }

  @at-root .webp {
    #{$block}__offer {
      background-image: url("../img/gift-photo-mobile@1x.webp");

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url("../img/gift-photo-mobile@2x.webp");
      }
    }
  }

  @at-root .no-webp, .no-js {
    #{$block}__offer {
      background-image: url("../img/gift-photo-mobile@1x.jpg");

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url("../img/gift-photo-mobile@2x.jpg");
      }
    }
  }

  &__offer-link {
    color: inherit;
    text-decoration: none;

    &:hover {
      color: inherit;
      text-decoration: underline;
    }

    &:active {
      opacity: 0.6;
    }
  }

  @media (min-width: $screen-md) {
    margin-bottom: 75px;

    &__title {
      margin-bottom: 79px;
    }

    &__list {
      margin-bottom: 70px;
    }

    &__item {
      border-left-width: 1px;
      border-right-width: 1px;
    }

    &__offer {
      flex-direction: row;
      align-items: center;

      min-height: 0;
      padding: 30px 91px;
      padding-right: 120px;

      &::before {
        margin: 35px 0 45px;
      }
    }

    @at-root .webp {
      #{$block}__offer {
        background-image: url("../img/gift-photo-tablet@1x.webp");

        @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
          background-image: url("../img/gift-photo-tablet@2x.webp");
        }
      }
    }

    @at-root .no-webp, .no-js {
      #{$block}__offer {
        background-image: url("../img/gift-photo-tablet@1x.jpg");

        @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
          background-image: url("../img/gift-photo-tablet@2x.jpg");
        }
      }
    }


    &__offer-link {
      width: 165px;
      text-align: left;
    }
  }

  @media (min-width: $screen-xl) {
    margin-bottom: 85px;

    &__content {
      flex-direction: row;
      justify-content: space-between;
    }

    &__list {
      // min-height: 289px; /* TODO: Сетка */

      width: 895px;
      margin: 0;
    }

    &__item {
      border-left-width: 0;
      border-right-width: 0;
    }

    &__offer {
      flex-direction: column;
      padding: 65px 40px 41px;

      width: 245px;

      &::before {
        margin: 0 0 15px;
      }
    }

    @at-root .webp {
      #{$block}__offer {
        background-image: url("../img/gift-photo-desktop@1x.webp");

        @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
          background-image: url("../img/gift-photo-desktop@2x.webp");
        }
      }
    }

    @at-root .no-webp, .no-js {
      #{$block}__offer {
        background-image: url("../img/gift-photo-desktop@1x.jpg");

        @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
          background-image: url("../img/gift-photo-desktop@2x.jpg");
        }
      }
    }

    &__offer-link {
      width: auto;
      text-align: center;
    }
  }
}
