.supplement {
  $block: &;
  display: flex;
  flex-wrap: wrap;

  padding: 14px 0 17px;

  &__name {
    width: 100%;
    margin: 0 0 15px;

    font-size: $font-size--large;
    line-height: 1;
    font-family: $font-family--custom;
    font-weight: normal;
    text-transform: uppercase;
    color: $gray--darkest-2;
  }

  &__amount,
  &__price {
    width: 50%;
    margin: 0 0 14px;

    line-height: 1;
  }

  &__amount {
    padding-right: 10px;
  }

  &__price {
    padding-left: 10px;
    text-align: right;
  }

  &__buy {
    width: 100%;
  }

  @media (min-width: $screen-md) {
    align-items: baseline;
    padding: 28px 38px;

    &__name {
      width: 313px;
      margin-bottom: 26px;

      font-size: $font-size--xxlarge;
    }

    &__amount,
    &__price {
      line-height: 1.25;
      margin: 0;
    }

    &__amount {
      width: 192px;
      margin-left: auto;
      padding-right: 0;

      text-align: right;
    }

    &__price {
      width: 94px;
      padding-left: 15px;
    }
  }

  @media (min-width: $screen-xl) {
    padding: 15px 0;

    &__name {
      width: 285px;
      margin: 0;
    }

    &__amount {
      width: 151px;
      text-align: left;
    }

    &__price {
      width: 94px;
      padding-left: 15px;
    }

    &__buy {
      width: 245px;
      margin-left: 39px;
    }
  }
}
