*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  overflow-x: hidden;
  touch-action: pan-y pinch-zoom;
}

img {
  max-width: 100%;
  height: auto;
}

svg {
  max-width: 100%;
}

a {
  color: $link-color;

  &:hover {
    color: $link-color--hover;
  }
}

h1 {
  font-family: $font-family--custom;
}
