// Сетка
@mixin container {
  width: $container-sm;
  padding: 0 $container-gap-sm;
  margin: 0 auto;

  @media (min-width: $screen-md) {
    width: $container-md;
    padding-left: $container-gap-md;
    padding-right: $container-gap-md;
  }

  @media (min-width: $screen-xl) {
    width: $container-xl;
    padding-left: $container-gap-xl;
    padding-right: $container-gap-xl;
  }
}

@mixin container--xl {
  width: $container-xl;
  margin: 0 auto;
  padding-left: $container-gap-xl;
  padding-right: $container-gap-xl;
}

@mixin row {
  margin: 0 (-$container-gap-sm);

  @media (min-width: $screen-md) {
    margin: 0 (-$container-gap-md);
  }

  @media (min-width: $screen-xl) {
    margin: 0 (-$container-gap-xl);
  }
}

@mixin row--sm {
  margin: 0 (-$container-gap-sm);
}

@mixin row--md {
  margin: 0 (-$container-gap-md);
}

@mixin row--xl {
  margin: 0 (-$container-gap-xl);
}

// Заголовки

@mixin heading($level: 0) {
  font-family: $font-family--headings;
  font-weight: normal;
  color: $text-color--headings;

  @if $level == 1 {
    font-size: $font-size--page-h1;
    line-height: 1.67;
  } @else if $level == 2 {
    font-size: $font-size--page-h2;
    line-height: 1;
  }

  @media (min-width: $screen-md) {
    @if $level == 1 {
      font-size: $font-size--page-h1-md;
      line-height: 1;
    } @else if $level == 2 {
      font-size: $font-size--page-h2-md;
      line-height: 1;
    }
  }
}

@mixin heading-with-stripes {
  display: flex;
  align-items: baseline;

  &::before,
  &::after {
    box-sizing: content-box;
    transform: translateY(-7px);

    width: $container-gap-sm;
    height: 3px;

    background: $color-main;
  }

  &::after {
    content: "";
    flex-grow: 1;

    margin-left: 25px;
    margin-right: -$container-gap-sm;
    padding-right: 10px;
  }

  @media (min-width: $screen-md) {
    $item-padding-x: 38px;

    &::before,
    &::after {
      content: "";
      width: $container-gap-md;
    }

    &::before {
      margin-right: $item-padding-x;
    }

    &::after {
      margin-left: $item-padding-x;
      margin-right: 0;
      padding-right: 20px;
    }
  }

  @media (min-width: $screen-xl) {
    &::before {
      width: 72px;
    }

    &::after {
      width: 140px;
    }
  }
}

// Разное
@mixin visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin reset-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin outline($color-num: 1, $hide-content: 0) {
  $sea-green:     #2e8b57;
  $orange-red:    #ff4500;
  $sky-blue:      #87ceeb;
  $gold:          #ffd700;
  $aquamarine:    #7fffd4;
  $blue-violet:   #8a2be2;

  // $outline-colors: $orange-red $sky-blue $gold $aquamarine $blue-violet $sea-green;
  $color-per-num: (1: red, 2: blue, 3: orange, 4: violet, 5: $orange-red);
  $color: map-get($color-per-num, $color-num);

  background-clip: content-box;
  // background-color: rgba($color, 0.1);
  outline: 1px solid $color;
  outline-offset: -1px;
  // box-shadow: inset 0 0 0 1px rgba($white, 0.5);

  @if $hide-content == 1 {
    font-size: 0;
    line-height: 0;

    > * {
      display: none;
    }
  }
}
