// Базовые цвета https://colorscheme.ru/color-converter.html

$black:                       hsl(0, 0%, 0%);
$gray--ultra-dark:            hsl(0, 0%, 1%);
$gray--darkest:               #111111; // hsl(0, 0%, 7%);
$gray--darkest-2:             #222222; // hsl(0, 0%, 13%);
$gray--darker:                hsl(0, 0%, 20%);
$gray--darken:                #444444; // hsl(0, 0%, 27%);
$gray--dark:                  #666666; // hsl(0, 0%, 40%);
$gray:                        hsl(0, 0%, 50%);
$gray--light:                 hsl(0, 0%, 60%);
$gray--lighten:               #bababa; // hsl(0, 0%, 73%);
$gray--lighter:               #cdcdcd; // hsl(0, 0%, 80%);
$gray--lightest:              #dcdcdc; // hsl(0, 0%, 86%);
$gray--lightest-2:            #eaeaea; // hsl(0, 0%, 92%);
$gray--lightest-3:            #ebebeb; // hsl(0, 0%, 92%);
$gray--lightest-4:            #e6e6e6; // hsl(0, 0%, 90%);
$gray--lightest-5:            #ededed; // hsl(0, 0%, 93%);
$gray--ultra-light:           #f2f2f2; // hsl(0, 0%, 95%);
$white:                       hsl(0, 0%, 100%);

$color-main:                  #68b738; // hsl(97, 53%, 47%);
$color-main--dark:            #5eaa2f; // hsl(97, 57%, 43%);
$color-main--dark-2:          #63a73a; // hsl(97, 48%, 44%);
$color-main--dark-3:          #65a93c; // hsl(97, 48%, 45%);
$color-danger:                #ff8282;
// $color-success:               hsl(120, 39%, 54%);
// $color-warning:               hsl(35, 84%, 62%);

// $color-vk:                    #4a76a8;
// $color-fb:                    #4267b2;
// $color-tw:                    #40A2F5;
// $color-gh:                    #24292e;


// Семантические цвета

$text-color:                  $gray--darken;
// $text-color--muted:            $gray;
$text-color--accent:          $gray--darkest-2;
$text-color--headings:        $gray--darkest;

$link-color:                  $color-main;
$link-color--hover:           darken($color-main, 15%);
$link-color--visited:         lighten($color-main, 15%);

$border-color:                $gray--lighter;
$body-bg:                     $white;
$bg-light-gray:               $gray--ultra-light;

// Базовая типографика

$font-size--ultra-large:      24px;
$font-size--xxlarge:          20px;
$font-size--xlarge:           18px;
$font-size--large:            16px;
$font-size:                   14px;
$font-size--small:            12px;
// $font-size--xsmall:           10px;

$font-size--page-h1:          36px;
$font-size--page-h1-md:       60px;
$font-size--page-h2:          24px;
$font-size--page-h2-md:       36px;

$font-size--md:               $font-size--large;
$line-height:                 1.29;
$line-height--md:             1.5;
$line-height--headings:       1;

$font-family:                 "Arial", sans-serif;
$font-family--custom:         "Oswald", "Arial", sans-serif;
$font-family--headings:       $font-family--custom;


// Сетка

// $screen-xs:                   0;
$screen-sm:                   320px;
$screen-md:                   768px;
// $screen-lg:                   992px;
$screen-xl:                   1300px;
// $screen-xxl:                  1800px;

$container-gap-sm:            20px;
$container-gap-md:            30px;
$container-gap-xl:            40px;

$container-sm:                $screen-sm;
$container-md:                $screen-md;
$container-xl:                $screen-xl;

$grid-gutter:                 30px;
$grid-gutter-2:               40px;
$grid-gutter-3:               70px;


// Разное
$border-radius:               3px;
$z-index-modal:               100;


// Для блоков
$catalog-item-border: 1px solid $gray--lightest-5;
