.btn {
  $block: &;
  display: inline-block;

  padding: 10px 27px;

  font-size: $font-size--large;
  line-height: 1.25;
  font-family: $font-family--custom;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: $white;

  background: $color-main;
  border: none;

  &:hover {
    color: $white;
    background-color: $color-main--dark;
  }

  &:active {
    color: rgba($white, 0.3);
    background-color: $color-main--dark;
  }

  &--full-width {
    display: block;
    width: 100%;
  }

  &--secondary {
    color: $gray--darken;
    background-color: $gray--ultra-light;

    &:hover {
      color: $gray--darken;
      background-color: $gray--lightest-3;
    }

    &:active {
      color: rgba($gray--darken, 0.3);
      background-color: $gray--lightest-3;
    }
  }
}
