.field-radio {
  $block: &;
  $input-radius: 15px;
  $item-margin-bottom: 12px;

  @include reset-list;

  overflow: auto;

  margin-bottom: -$item-margin-bottom;

  font-size: $font-size--large;
  line-height: 1.13;
  font-family: $font-family--custom;
  text-transform: uppercase;
  color: $text-color--accent;

  &__item {
    margin: 0 0 $item-margin-bottom;
  }

  &__input {
    @include visually-hidden;

    &:checked ~ #{$block}__label::after {
      display: block;
    }

    &:focus ~ #{$block}__label::before {
      border-color: $gray--lighten;
      box-shadow: inset 0 0 0 1px $gray--lighten;
    }
  }

  &__label {
    display: flex;
    align-items: center;

    position: relative;

    &::before {
      content: "";
      display: inline-block;
      vertical-align: middle;

      width: $input-radius * 2;
      height: $input-radius * 2;
      margin-right: 16px;

      border: 1px solid $border-color;
      background: $white;
      border-radius: 50%;
    }

    &::after {
      display: none;
      content: "";

      position: absolute;
      top: 50%;
      left: $input-radius;
      transform: translate(-50%, -50%);

      width: 12px;
      height: 12px;

      background: $color-main;
      border-radius: 50%;
    }

    &:hover,
    &:active {
      &::before {
        border-color: $gray--lighten;
      }
    }

    &:active {
      opacity: 0.3;
    }
  }

  &--single {
    overflow: visible;
    margin-bottom: 0;
  }

  &--border {
    margin-bottom: 0;
    padding-top: 21px;
    padding-bottom: 21px - $item-margin-bottom;

    border: 1px solid $gray--lightest-5;

    #{$block}__item {
      padding-left: $container-gap-sm - 1;
      padding-right: $container-gap-sm - 1;
    }
  }

  @media (min-width: $screen-md) {
    $input-radius: 20px;
    font-size: $font-size--xxlarge;
    line-height: 1;

    &__label {
      &::before {
        width: $input-radius * 2;
        height: $input-radius * 2;
        margin-right: 20px;
      }

      &::after {
        left: $input-radius;
        width: 18px;
        height: 18px;
      }
    }

    &--single {
      margin-bottom: 0;
    }

    &--border {
      padding-top: 24px;
      padding-bottom: 24px - $item-margin-bottom;

      #{$block}__item {
        padding: 0 28px;
      }
    }
  }
}
