.form {
  $block: &;

  // @include outline; /* TODO: Сетка */
  @include container;
  margin-bottom: 30px;

  &__part {
    // @include outline(2); /* TODO: Сетка */
    margin: 0 0 27px;
    padding: 0;

    border: none;

    &--last {
      margin-bottom: 0;
    }
  }

  &__legend {
    @include heading(2);

    width: 100%;
    margin: 0 0 35px;

    span {
      @include heading-with-stripes;
    }
  }

  &__actions {
    // @include outline(2);
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 34px 0 0;
  }

  &__notice {
    font-size: $font-size;
    line-height: 1.143;
  }

  @media (min-width: $screen-md) {
    margin-bottom: 72px;

    &__part {
      margin-bottom: 64px;
      padding: 0 ($grid-gutter-2);

      &--last {
        margin-bottom: 0;
      }
    }

    &__legend {
      margin-bottom: 77px;
      font-size: $font-size--page-h2-md;

      span {
        margin: 0 (-$grid-gutter-2 - $container-gap-md);
      }

      br {
        display: none;
      }
    }

    &__actions {
      margin-top: 54px;
      padding: 0 ($grid-gutter-2);
    }

    &__submit {
      padding-top: 16px;
      padding-bottom: 16px;

      font-size: $font-size--xxlarge;
      line-height: 1;
    }

    &__notice {
      font-size: $font-size--large;
      line-height: 1.125;
    }
  }

  @media (min-width: $screen-xl) {
    margin-bottom: 80px;

    &__part {
      margin-bottom: 67px;
      padding: 0;

      &--last {
        margin-bottom: 0;
      }
    }

    &__legend {
      span {
        margin: 0 (-$container-gap-xl);
      }
    }

    &__actions {
      margin-top: 61px;
      padding: 0;
    }
  }
}
